BeautifulSoup==3.2.1
Pillow==2.5.1
PyYAML==3.11
TwitterAPI==2.2.8
cssselect==0.9.1
jieba==0.35
lxml==3.3.5
mock==1.0.1
newspaper==0.0.9.1
nltk==2.0.4
oauthlib==0.7.2
requests==2.3.0
requests-oauthlib==0.4.2
responses==0.3.0
six==1.7.3
wsgiref==0.1.2
